@font-face {
    font-family: "I pixel u";
    src: url("../fonts/I-pixel-u.ttf") format("truetype");
}

body {
    background-color:#005668;
    color: white;
    font-family: "I pixel u";
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: white;
}

#banner {
    font-size: 1.5em;
}

.screenshots {
    margin-bottom: 50px;
}

.privacy {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

#privacyTitle {
    margin-bottom: 50px;
}

.privacy p {
    text-align: left;
    margin-left: 20px;
    font-size: 0.65em;
}

.privacy ul li {
    text-align: left;
    margin-left: 20px;
    font-size: 0.65em;
}

.privacy ul li a {
    font-size: 1em;
}

.privacy a {
    font-size: 0.75em;
}

#generated {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 0.5em;
}