@font-face {
    font-family: "I pixel u";
    src: url("../fonts/I-pixel-u.ttf") format("truetype");
}

body {
    background-color:#005668;
    color: white;
    font-family: "I pixel u";
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: white;
}

#banner {
    font-size: 1.5em;
}

.screenshots {
    margin-bottom: 50px;
}

.privacy {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}